# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.log
*.pot
*.py[cod]
*.swp

# Django
media/           # file upload
staticfiles/     # collectstatic
.env             # file chứa secret key, DB password
*.env           # file chứa secret key, DB password
# VSCode
.vscode/

# macOS
.DS_Store

# PyCharm
.idea/